<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title  th:text="#{groupes.title}">Gestion Club biblique - Espace Mono</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous"/>

<!-- Custom styles for this template -->
<link href="dashboard.css" rel="stylesheet"
	th:href="@{css/dashboard.css}" />

<!-- DataTables CSS -->
<link
	href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" />

<!-- DataTables Responsive CSS -->
<link
	href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap4.min.css"
	rel="stylesheet" />
	
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
	
	
	<link href="https://cdn.datatables.net/buttons/1.4.0/css/buttons.bootstrap4.min.css" rel="stylesheet" />
	
</head>

<body>
	<nav
		class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
		<button class="navbar-toggler navbar-toggler-right hidden-lg-up"
			type="button" data-toggle="collapse"
			data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">Gestion club biblique</a>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">https://cdn.datatables.net/buttons/1.4.0/css/buttons.bootstrap4.min.css
				<li class="nav-item active"><a class="nav-link" href="#"
					th:href="@{/}">Accueil <span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="seances.html"
					th:href="@{seances}">Séances</a></li>
				<li class="nav-item"><a class="nav-link" href="eleves"
					th:href="@{eleves}">Elèves </a></li>

				<li class="nav-item"><a class="nav-link" href="#">Moniteurs
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Rapports</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Statistiques</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Paramètres</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Aide</a></li>
			</ul>
			<form class="form-inline mt-2 mt-md-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
			</form>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">


				<ul class="nav nav-pills flex-column">
					<li class="nav-item"><a class="nav-link" href="seances.html"
						th:href="@{seances}">Séances</a></li>
					<li class="nav-item"><a class="nav-link" href="eleves"
						th:href="@{eleves}">Elèves </a></li>

					<li class="nav-item"><a class="nav-link" href="#">Moniteurs
					</a></li>
				</ul>

				<!-- 				<ul class="nav nav-pills flex-column"> -->
				<!-- 					<li class="nav-item"><a class="nav-link" href="#">Nav item -->
				<!-- 							again</a></li> -->
				<!-- 					<li class="nav-item"><a class="nav-link" href="#">One more -->
				<!-- 							nav</a></li> -->
				<!-- 					<li class="nav-item"><a class="nav-link" href="#">Another -->
				<!-- 							nav item</a></li> -->
				<!-- 				</ul> -->
				<ul class="nav nav-pills flex-column">
					<li class="nav-item"><a class="nav-link active" href="#">Gestion
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Rapports</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Statistiques</a>
					</li>
				</ul>
			</nav>

			<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
			
		
			<div th:if="${message}" class="alert alert-success" th:text="${message}">Cool</div>
			
		
		
		
			<h4 class="sub-header" th:text="#{groupes.title}">Listing groupes</h4>
			
			<div class="card">
  				<div class="card-body">
    				<a href="/editGroupe" th:href="@{/groupes/new}">  			
  				<button type="button" class="btn  btn-primary btn-xs">
         			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> &nbsp;	
         			<span th:text="#{groupe.add}">Add</span>
       			</button>
				</a> 
  					</div>
			</div>
			
<!-- 			<div class="well well-sm"> -->
			
<!-- 				<a href="/editGroupe" th:href="@{/groupes/new}">  			 -->
<!--   				<button type="button" class="btn  btn-primary btn-xs"> -->
<!--          			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> &nbsp;	 -->
<!--          			<span th:text="#{groupe.add}">Add</span> -->
<!--        			</button> -->
<!-- 				</a>  -->
<!-- 			</div> -->
			
		
			
			<div class="row">
				<div class="col-lg-12">
				
						
						
							<table 
								class="table table-striped table-bordered table-hover"
								id="dataTables-example">
								<thead>
									<tr>
										<th >#</th>
										<th th:text="#{groupe.field.name}">Name</th>
										<th th:text="#{groupe.field.description}">Description</th>
										<th th:text="#{groupe.field.enabled}">Actif</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>

									<tr th:each="groupe : ${groupes}"
										th:classappend="${groupeStat.odd}? 'odd'">
										<td th:text="${groupe.id}">1</td>
										<td th:text="${groupe.name}">Fourmiz</td>
										<td th:text="${groupe.description}">6ans à 7 ans</td>
										<td th:text="${groupe.enabled}">Oui</td>
										<td>
											<a href="#"
													th:href="@{/groupes/edit(id=${groupe.id})}">


															<i class="fa fa-pencil-square-o" ></i>
															


												</a>
												 <a href="#"
													th:href="@{/groupes/delete(id=${groupe.id})}"
													class="deleteGroupe">

														<i class="fa fa-trash-o fa-fw"></i>
														



												</a>
										</td>
										
									</tr>
									<tr th:remove="all" class="odd gradeX">
										<td>Trident</td>
										<td>Internet Explorer 4.0</td>
										<td>Win 95+</td>
										<td class="center">4</td>
										<td class="center">X</td>
									</tr>
									<tr th:remove="all" class="even gradeC">
										<td>Trident</td>
										<td>Internet Explorer 5.0</td>
										<td>Win 95+</td>
										<td class="center">5</td>
										<td class="center">C</td>
									</tr>
									<tr th:remove="all" class="odd gradeA">
										<td>Trident</td>
										<td>Internet Explorer 5.5</td>
										<td>Win 95+</td>
										<td class="center">5.5</td>
										<td class="center">A</td>
									</tr>
									

								</tbody>
							</table>
							
						
					
					
				</div>
				<!-- /.col-lg-12 -->
			</div>

			</main>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
		integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
		crossorigin="anonymous"></script>
		
	<!-- 	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
		integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
		crossorigin="anonymous"></script>

	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
		integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
		crossorigin="anonymous"></script>
	<!-- DataTables JavaScript -->
	<script
		src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
	<script
		src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
		
	
	<script
		src="https://cdn.datatables.net/buttons/1.4.0/js/dataTables.buttons.min.js"></script>
		
		<script
		src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.bootstrap4.min.js"></script>
		
	<script type="text/javascript"   src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script
		src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
		
		<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>

<script
		src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"></script>
<script
		src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"></script>

	<script>
    $(document).ready(function() {
    	var table = $('#dataTables-example').DataTable( {
    		dom: 'Bfrtip',
    		lengthChange: false,
            responsive: true,
            buttons: [ 'csvHtml5', 'pdf', 'print' ]
        } );
    	table.buttons().container().appendTo( '#dataTables-example_wrapper .col-md-6:eq(0)' );
    	
       
    });
    </script>
</body>
</html>