<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>Gestion Club biblique - Espace Mono</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="dashboard.css" rel="stylesheet"
	th:href="@{css/dashboard.css}" />

<!-- DataTables CSS -->
<link
	href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" />

<!-- DataTables Responsive CSS -->
<link
	href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap4.min.css"
	rel="stylesheet" />
</head>

<body>
	<nav
		class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
		<button class="navbar-toggler navbar-toggler-right hidden-lg-up"
			type="button" data-toggle="collapse"
			data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">Gestion club biblique</a>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#"
					th:href="@{/}">Accueil <span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="seances.html"
					th:href="@{seances}">Séances</a></li>
				<li class="nav-item"><a class="nav-link" href="eleves"
					th:href="@{eleves}">Elèves </a></li>

				<li class="nav-item"><a class="nav-link" href="#">Moniteurs
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Rapports</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Statistiques</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Paramètres</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Aide</a></li>
			</ul>
			<form class="form-inline mt-2 mt-md-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
			</form>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">


				<ul class="nav nav-pills flex-column">
					<li class="nav-item"><a class="nav-link" href="seances.html"
						th:href="@{seances}">Séances</a></li>
					<li class="nav-item"><a class="nav-link" href="eleves"
						th:href="@{eleves}">Elèves </a></li>

					<li class="nav-item"><a class="nav-link" href="#">Moniteurs
					</a></li>
				</ul>

				<!-- 				<ul class="nav nav-pills flex-column"> -->
				<!-- 					<li class="nav-item"><a class="nav-link" href="#">Nav item -->
				<!-- 							again</a></li> -->
				<!-- 					<li class="nav-item"><a class="nav-link" href="#">One more -->
				<!-- 							nav</a></li> -->
				<!-- 					<li class="nav-item"><a class="nav-link" href="#">Another -->
				<!-- 							nav item</a></li> -->
				<!-- 				</ul> -->
				<ul class="nav nav-pills flex-column">
					<li class="nav-item"><a class="nav-link active" href="#">Gestion
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Rapports</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Statistiques</a>
					</li>
				</ul>
			</nav>

			<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
			<h1>Groupes</h1>
			<div class="row">
				<div class="col-md-8">
					
				
						<div class="card">
						<div class="card-header">Editer un groupe</div>
						<div class="card-block">
								<form>
									<div class="form-group">
										<label for="exampleInputEmail1">Titre</label> <input
											type="email" class="form-control" id="exampleInputEmail1"
											aria-describedby="emailHelp" placeholder="Titre de la séance">
										
									</div>
									
									
									<div class="form-group">
										<label for="exampleSelect2">Moniteurs</label> <select
											multiple class="form-control" id="exampleSelect2">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
										</select>
									</div>
									<div class="form-group">
										<label for="exampleTextarea">Description</label>
										<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
									</div>
									<div class="form-group">
										<label for="exampleInputFile">Pièce jointe</label> <input
											type="file" class="form-control-file" id="exampleInputFile"
											aria-describedby="fileHelp"> <small id="fileHelp"
											class="form-text text-muted">Vous pouvez mettre le document utilisé pour votre séance</small>
									</div>
									<fieldset class="form-group">
										<legend>Categorie séance</legend>
										<div class="form-check">
											<label class="form-check-label"> <input type="radio"
												class="form-check-input" name="optionsRadios"
												id="optionsRadios1" value="option1" checked> Lecture bible
											</label>
										</div>
										<div class="form-check">
											<label class="form-check-label"> <input type="radio"
												class="form-check-input" name="optionsRadios"
												id="optionsRadios2" value="option2"> Jeux biblique
											</label>
										</div>
										<div class="form-check disabled">
											<label class="form-check-label"> <input type="radio"
												class="form-check-input" name="optionsRadios"
												id="optionsRadios3" value="option3" disabled> Préparation spéctacle
											</label>
										</div>
									</fieldset>
									<a  th:href="@{groupes}" class="btn btn-default">Annuler</a>
									<button type="submit" class="btn btn-primary">Enregistrer</button>
								</form>
							</div>
					</div>
					
					
				</div>
			</div>
			
			

			</main>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
		integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
		crossorigin="anonymous"></script>
	<!-- 	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
		integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
		crossorigin="anonymous"></script>

	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
		integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
		crossorigin="anonymous"></script>
	<!-- DataTables JavaScript -->
	<script
		src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
	<script
		src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>

	<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>
</body>
</html>