<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title th:text="${eleve.id} ? #{eleves.edit.title} : #{eleves.create.title}">Edit eleve</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="../../static/css/dashboard.css" rel="stylesheet"
	th:href="@{css/dashboard.css}" />

<!-- DataTables CSS -->
<link
	href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" />

<!-- DataTables Responsive CSS -->
<link
	href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap4.min.css"
	rel="stylesheet" />
	
	
	
</head>

<body>
	<nav
		class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
		<button class="navbar-toggler navbar-toggler-right hidden-lg-up"
			type="button" data-toggle="collapse"
			data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">Gestion club biblique</a>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#"
					th:href="@{/}">Accueil <span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="seances.html"
					th:href="@{seances}">Séances</a></li>
				<li class="nav-item"><a class="nav-link" href="eleves"
					th:href="@{eleves}">Elèves </a></li>

				<li class="nav-item"><a class="nav-link" href="#">Moniteurs
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Rapports</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Statistiques</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Paramètres</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Aide</a></li>
			</ul>
			<form class="form-inline mt-2 mt-md-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
			</form>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">


				<ul class="nav nav-pills flex-column">
					<li class="nav-item"><a class="nav-link" href="seances.html"
						th:href="@{seances}">Séances</a></li>
					<li class="nav-item"><a class="nav-link" href="eleves"
						th:href="@{eleves}">Elèves </a></li>

					<li class="nav-item"><a class="nav-link" href="#">Moniteurs
					</a></li>
				</ul>

				<!-- 				<ul class="nav nav-pills flex-column"> -->
				<!-- 					<li class="nav-item"><a class="nav-link" href="#">Nav item -->
				<!-- 							again</a></li> -->
				<!-- 					<li class="nav-item"><a class="nav-link" href="#">One more -->
				<!-- 							nav</a></li> -->
				<!-- 					<li class="nav-item"><a class="nav-link" href="#">Another -->
				<!-- 							nav item</a></li> -->
				<!-- 				</ul> -->
				<ul class="nav nav-pills flex-column">
					<li class="nav-item"><a class="nav-link active" href="#">Gestion
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Rapports</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Statistiques</a>
					</li>
				</ul>
			</nav>

			<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
			
			
			<div th:if="${message}" class="alert alert-success" th:text="${message}">Cool</div>
			
			
			<div class="row">
				<div class="col-md-8">
					
				
						<div class="card">
						<div class="card-header"><span th:text="${eleve.id} ? #{eleves.edit.title} : #{eleves.create.title}">Editer un élève</span> </div>
						<div class="card-block">
							<form role="form" action="#" th:action="@{/eleves/save}" th:object="${eleve}" method="post">

								<div th:if="${#fields.hasErrors('*')}"
									class="alert alert-danger">
									<ul>
										<li th:each="err : ${#fields.allErrors()}" th:text="${err}">Input
											is incorrect</li>
									</ul>
								</div>
								<input type="text" hidden="hidden" th:field="*{id}" class="hidden" />
								
								<div class="row">
											<div class="form-group col" th:classappend="${#fields.hasErrors('prenom')}? has-error">
									
									<label for="prenom" th:text="#{eleves.field.prenom}">First name</label>
									
									 <input
										type="text" class="form-control" id="prenom" th:field="*{prenom}"  required="required"  />
										<span class="text-danger" th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}">Required field</span>
								</div>

								
								<div class="form-group col" th:classappend="${#fields.hasErrors('nom')}? has-error">
									
									<label for="nom" th:text="#{eleves.field.nom}">Last name</label>
									
									 <input
										type="text" class="form-control" id="nom" th:field="*{nom}"   />
										<span class="text-danger" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">Required field</span>
								</div>
								</div>
								
							
								<div class="row">
									<div class="form-group col" th:classappend="${#fields.hasErrors('age')}? has-error">
									
									<label for="age" th:text="#{eleves.field.age}">Age</label>
									
									 <input
										type="text" class="form-control" id="age" th:field="*{age}"  required="required"  />
										<span class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Required field</span>
								</div>
								
								<div class="form-group col" th:classappend="${#fields.hasErrors('classe')}? has-error">
									
									<label for="classe" th:text="#{eleves.field.classe}">Classe</label>
									
									<input
										type="text" class="form-control" id="classe" th:field="*{classe}"    />
										<span class="text-danger" th:if="${#fields.hasErrors('classe')}" th:errors="*{classe}">Required field</span>
								</div>	
								
								</div>
								
								<div class="row">
									<div class="form-group col" th:classappend="${#fields.hasErrors('dateNaissance')}? has-error">
									
									<label for="dateNaissance" th:text="#{eleves.field.dateNaissance}">12/12/2017</label>
									
									 <input
										type="text" class="form-control" id="dateNaissance" th:field="*{dateNaissance}"    />
										<span class="text-danger" th:if="${#fields.hasErrors('dateNaissance')}" th:errors="*{dateNaissance}">Required field</span>
								</div>
								
									<div class="form-group col" > 
 										<label for="groupe" th:text="#{eleves.field.groupe}">Groupe</label>  
										
										<select th:field="*{groupe.id}" required="required"
											 class="form-control" id="groupe"> 
											<option value="" ></option>
										<option th:each="groupe : ${listeGroupes}" th:value="${groupe.id}"		th:text="${groupe.name}">Fourmiz</option>
										</select> 
										
									</div>
								
								</div>
								<div class="row">
									<div class="form-group col" th:classappend="${#fields.hasErrors('contact')}? has-error">
									
									<label for="contact" th:text="#{eleves.field.contact}">Maman</label>
									<textarea rows="2" cols="60" class="form-control" id="contact" th:field="*{contact}" ></textarea>
									
										<span class="text-danger" th:if="${#fields.hasErrors('contact')}" th:errors="*{contact}">Required field</span>
								</div>
								
								
								
								</div>
								
								
								

							<div class="row">
								
								<div class="form-check col">
									<label class="form-check-label"> 
									<input type="checkbox" th:field="*{enabled}" class="form-check-input"/> <span th:text="#{eleves.field.enabled}">Enabled</span> 
									</label>
								</div>	
							
							</div>
							<div class="row">
									<div class="form-group col" th:classappend="${#fields.hasErrors('commentaire')}? has-error">
									
									<label for="commentaire" th:text="#{eleves.field.commentaire}">Commentaire</label>
									<textarea rows="2" cols="60" class="form-control" id="contact" th:field="*{commentaire}" ></textarea>
									
										<span class="text-danger" th:if="${#fields.hasErrors('commentaire')}" th:errors="*{commentaire}">Required field</span>
								</div>
								
								
								
								</div>
									
							
								<a href="#" th:href="@{/eleves}" role="button" class="btn  btn-secondary">  			
  									
         								<span th:text="#{cancel.button.label}">Cancel</span>
       								
									</a>
									<button type="submit" class="btn btn-primary"><span th:text="${eleve.id} ? #{update.button.label} : #{add.button.label}" ></span> </button>
								
							</form>
						</div>
					</div>
					
					
				</div>
			</div>
			
			

			</main>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
		integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
		crossorigin="anonymous"></script>
		
	
	<!-- 	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
		integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
		crossorigin="anonymous"></script>

	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
		integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
		crossorigin="anonymous"></script>
	<!-- DataTables JavaScript -->
	<script
		src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
	<script
		src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>

	<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
        
//         $( "#birthDate" ).datepicker();
    });
    </script>
</body>
</html>